---
import { AstroFont } from 'astro-font'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to Astro</title>
    <AstroFont
      config={[
        {
          src: [],
          preload: true,
          display: 'swap',
          name: 'vazirmatn',
          fallback: 'monospace',
          fetch: true,
          verbose: true,
          cacheDir: '.cache',
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap',
        },
        {
          src: [],
          preload: true,
          display: 'block',
          name: 'material-icon-outlined',
          fallback: 'monospace',
          fetch: true,
          verbose: true,
          cacheDir: '.cache',
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0',
        },
      ]}
    />
  </head>
  <body><span style="font-family: vazirmatn;">Hello world!</span></body>
</html>
